html{
    background-color: blanchedalmond;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas:
     "topbar topbar topbar"
     "instructions game camera"
     "instructions game info";
     height: 100vh;
}

.topbar{
    grid-area: topbar;
    background-color: blanchedalmond;
    text-align: center;
}

.instructions{
    grid-area: instructions;
    background-color: rgb(88, 82, 168);
    padding-top: 50px;
}

.game{
    grid-area: game;
    background-color: rgb(170, 55, 151);
    padding-top: 50px;
}

.camera{
    grid-area: camera;
    background-color: rgb(75, 145, 53);
    padding-top: 100px;
}

.info{
    grid-area: info;
    background-color: rgb(182, 36, 44);
    padding-top: 50px;
}